:root {
  --color-ui-primary: #ffcc00;
  --color-ui-primary-hover: #ffe85c;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-surface-light: #ffffff;
  --color-overlay-dark: rgba(0, 0, 0, 0.8);
}
